@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --variant-dark: .dark &;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  @apply transition-colors duration-300;
}

body {
  @apply bg-gray-200 dark:bg-gray-950;
}
